:root {
    --background-color: #ff006e important;
    --navbar-color: #fff important;
    --accent-gold: #D4AF47 important;
}

body {
    background-color: var(--background-color);
    color: #fff;
}

.navbar {
    background-color: var(--navbar-color);
}

 .navbar a {
     color: #fff;
 }
 .navbar a:hover {
       color: var(--accent-gold);
}
