@model SmartChat.Web.Views.viewModle.RegisterViewModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Register";
}

<div class="register-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="~/Auth/Register" class="h1"><b>Smart</b>Chat</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Register a new membership</p>
            <form asp-action="Register" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="name" asp-for="Name">
                    <div class="input-group-append">
                        <div class="input-group-text"><span class="fas fa-user"></span></div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="username" asp-for="Username">
                    <div class="input-group-append">
                        <div class="input-group-text"><span class="fas fa-user"></span></div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email" asp-for="Email">
                    <div class="input-group-append">
                        <div class="input-group-text"><span class="fas fa-envelope"></span></div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                    <div class="input-group-append">
                        <div class="input-group-text"><span class="fas fa-lock"></span></div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Role" asp-for="Password">
                    <div class="input-group-append">
                        <div class="input-group-text"><span class="fas fa-lock"></span></div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <select class="form-control" asp-for="RoleId" asp-items="@(new SelectList(Model.Roles, "Id", "Name"))">
                        <option value="">-- Select Role --</option>
                    </select>
                    <div class="input-group-append">
                        <div class="input-group-text"><span class="fas fa-user-tag"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </form>
            <a href="~/Auth/Login" class="text-center">I already have a membership</a>
        </div>
    </div>
</div>
